$lightColor: #fff;
$darkColor: #000;

$boxColor: #fff;
$textColor: #000;
$linkColor: #999999;

$siteFontSize: 16px;
$linkFontSize: 14px;

input, button {outline: none;}

ul{padding: 0; margin: 0;}

a, li{
	list-style: none;
	font-size: $linkFontSize;
	text-decoration: none;
	font-family: "Montserrat";
	color: $linkColor;
}

body {
	margin: 0;
	padding: 0;
}
@mixin center {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}
@mixin max-center {
	width: 100%;
	max-width: 1770px;
	margin: 0 auto;
}
@mixin flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.leftimg {
	float:left; /* Выравнивание по левому краю */
	margin: 0px 30px 30px 0; /* Отступы вокруг картинки */
}
.rightimg  {
	float: right; /* Выравнивание по правому краю  */ 
	margin: 30px 0 30px 30px; /* Отступы вокруг картинки */
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
button {
	outline: none;
	&:hover {
		cursor: pointer;
	}
}
.page {
	margin: 0;
}
// --------------------------------------------------------------------------------------------------------------------

.header.main {
	background: url(../images/mainHeaderBg.png) no-repeat 50% -12%/cover;
}
.header {
	text-align: center;
	position: relative;
	background: url(../images/headerBg.png) no-repeat 50% 50%/cover;
	&__topBox {
		background: #333333;
	}
	&__topBar {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}
	&__currency {
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		width: calc(100% / 2 - 20px);
		color: #999999;
		font-family: "Montserrat";
		font-size: 13px;
	}
	&__navBlock {
		display: inline-block;
		vertical-align: middle;
		text-align: right;
		width: calc(100% / 2 - 20px);
		a:visited {
			color: #f8f8f8;
		}
	}
	&__navButton {
		margin-right: 30px; 
	}
	&__empty {
		display: inline-block;
		vertical-align: middle;
		background: #00c8c8;
		color: #fff;
		padding: 16px 20px;
	    width: 150px;
	    box-sizing: border-box;
	    text-align: center;
		img {
			vertical-align: middle;
			margin-right: 10px;
		}
		span {
			margin-left: 5px;
			vertical-align: middle;
			font-size: 9px;
			color: #fff;
		}
	}
	&__mainNavbar {
		background: none;
		padding: 20px 30px;
		box-sizing: border-box;
		width: 100%;
		max-width: 1777px;
		margin: 0 auto;
	}
	&__navBox {
		background: #f8f8f8;
	}
	&__navbar {
		padding: 20px 30px;
		box-sizing: border-box;
		width: 100%;
		max-width: 1777px;
		margin: 0 auto;
	}
	&__logo {
		display: inline-block;
		font-family: "Montserrat";
		font-weight: bold;
		font-size: 24px;
		width: calc(100% / 2 - 280px);
		text-transform: uppercase;
		text-align: left;
		color: #222222;
		&:visited {
			color: #222222;
		}
		span {
			font-weight: normal;
		}
	}
	nav {
		display: inline-block;
		text-align: right;
		width: calc(100% / 2 + 270px);
		ul {
			position: relative;
			li {
				display: inline-block;
				vertical-align: top;
				text-align: left;
				padding-top: 10px;
				margin-right: 60px;
				&:nth-child(5) {
					margin-right: 0;
				}
				&:hover .sub-menu {
					display: block;
				}
				.sub-menu {
					position: absolute;
					background: #f8f8f8;
					display: none;
					width: 100%;
					max-width: 335px;
					padding: 30px;
					box-shadow: 0px 11px 22px -4px rgba(0,0,0,0.38);
					ul {
						display: inline-block;
						vertical-align: top;
						margin-right: 40px;
						li {
							padding-top: 0;
							margin-right: 0;
							display: block;
							line-height: 25px;
							&:nth-child(1) {
								margin-bottom: 20px;
							}
							.listTitle {
								font-weight: bold;
								font-size: 12px;
								font-family: "Montserrat";
								color: #575153;
							}
							a {
								text-transform: inherit;
								font-weight: 600;
								font-size: 12px;
								color: rgba(87, 81, 83, 0.5);
								&:visited {
								    color: rgba(87, 81, 83, 0.5);
								}
							}
						}
					}
				}
				a {
					text-transform: uppercase;
					font-weight: bold;
					color: #222;
					font-size: 13px;
					font-family: "Montserrat";	
					&:visited {
					    color: #222;
					}		
					div {
						font-size: 9px;
						color: rgba(34, 34, 34, 0.5);
					}
					&:hover div{
						color: #a5e8e8;
					}
					&:hover{
						color: #a5e8e8;
					}
				}
			}
		}
	}
	&__stock {
		background: #333333;
		text-align: center;
		padding: 40px 0;
		margin-top: 50px;
	}
	&__stockText {
		font-family: "Montserrat";
		text-transform: uppercase;
		font-size: 30px;
		font-weight: bold;
		margin: 0;
		padding: 0;
		color: #fff;
		div {
			font-weight: 500;
		}
	}
	&__search {
		width: 100%;
		max-width: 180px;
		display: inline-block;
		vertical-align: middle;
		margin-left: 115px;
		input {
			display: inline-block;
			vertical-align: middle;
			width: calc(100% - 50px);
			border: none;
			border-radius: 2px;
			border: 1px solid #e7e7e7;
			border-right: none;
			padding: 10px;
		}
		button {
			display: inline-block;
			vertical-align: middle;
			background: none;
			border: none;
			width: 30px;
			background: #fff;
			border: 1px solid #e7e7e7;
			border-left: none;
			padding: 14px 8.5px;
			margin-left: -5px;
		}
	}
	&__title {
		text-align: center;
		font-size: 450px;
		font-family: "Montserrat";
		color: #575153;
		text-transform: uppercase;
		margin: 0;
		padding: 230px 0 230px;
		span {
			margin-right: 425px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.colectionBt {
		position: absolute;
	    bottom: 90px;
		right: 10%;
		transform: translateX(-10%);
		background: none;
		border: none;
		letter-spacing: 2px;
		border-radius: 2px;
		border: 2px solid rgba(115, 115, 115, 0.7); 
		padding: 15px 30px;
		color: #454647;
	}
	&__pageName {
		padding-top: 150px;
		color: #fff;
		font-family: "Montserrat";
		font-size: 48px;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0;
		margin-bottom: 20px;
		span {
			font-weight: normal;
		}
	}
	&__pageSlogan {
		margin: 0;
		text-transform: uppercase;
		font-size: 30px;
		font-family: "Montserrat";
		color: #fff;
		padding-bottom: 150px;
	}
	.blue {
		color: #00c8c8;
	}
}

.col-lg-1 {
	width: calc( 6.77966102% * 1);
}
.col-lg-2 {
	width: calc( 6.77966102% * 2 + 1.69491526%);
}
.col-lg-3 {
	width: calc( 6.77966102% * 3 + 1.69491526% * 2 );
}
.col-lg-4 {
	width: calc( 6.77966102% * 4 + 1.69491526% * 3 );
}
.col-lg-5 {
	width: calc( 6.77966102% * 5 + 1.69491526% * 4 );
}
.col-lg-6 {
	width: calc( 6.77966102% * 6 + 1.69491526% * 5 );
}
.col-lg-7 {
	width: calc( 6.77966102% * 7 + 1.69491526% * 6 );
}
.col-lg-8 {
	width: calc( 6.77966102% * 8 + 1.69491526% * 7 );
}
.col-lg-9 {
	width: calc( 6.77966102% * 9 + 1.69491526% * 8 );
}
.col-lg-10 {
	width: calc( 6.77966102% * 10 + 1.69491526% * 9 );
}
.col-lg-11 {
	width: calc( 6.77966102% * 11 + 1.69491526% * 10 );
}
.col-lg-12 {
	width: calc( 6.77966102% * 12 + 1.69491526% * 11 );
}

.row-lg-5 {
	height: 500px;
}
.row-lg-7 {
	height: 700px;
}


.price {
	@include flex;
	font-family: "Montserrat";
	font-weight: lighter;
	font-size: 30px;
	color: #9a9a9a;
	margin-top: 20px;
	.currency {
		font-size: 20px;
	}
	.old-price {
		@include flex;
		text-decoration: line-through;
		margin-right: 20px;
	}
	.new-price {
		@include flex;
	}
}


.leftimg {
	float:left; /* Выравнивание по левому краю */
	margin: 0px 30px 30px 0; /* Отступы вокруг картинки */
}
.rightimg  {
	float: right; /* Выравнивание по правому краю  */ 
	margin: 30px 0 30px 30px; /* Отступы вокруг картинки */
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
button {
	outline: none;
	&:hover {
		cursor: pointer;
	}
}
main {
	padding-top: 62px;
	.main-button {
		margin-top: 15px;
		button {
			border: 2px solid #737373;
			padding: 21px 32px;
			background: transparent;
			font-family: "Montserrat";
			font-size: 16px;
			color: #454647;
			text-transform: uppercase;
			letter-spacing: 5px;
			&:hover {
				transition: .3s;
				border: 2px solid #00c8c8;
				padding: 21px 32px;
				background: #00c8c8;
				color: #f8f8f8;
			}
		}
	}
	&.brand {
		@include center;
		@include flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.flex {
			@include flex;
			justify-content: space-between;
			width: 100%;
		}
		.mt {
			margin-top: -100px;
		}
		.pt {
			padding-top: 62px;
		}
		.pb {
			padding-bottom: 65px;
		}
		.card {
			height: 100%;
			.image {
				img {
					width: 570px;
					height: 400px;
					object-fit: cover;
				}
			}
			.content {
				max-width: 570px;
				.pt {
					padding-top: 32px;
				}
				.title {
					font-family: "Montserrat";
					font-size: 18px;
					color: #575153;
					text-transform: uppercase;
					margin-top: 30px;
				}
				.sub-title {
					font-family: "Montserrat";
					font-size: 13px;
					color: #727272;
					text-transform: uppercase;
					margin-top: 30px;
				}
				.text {
					font-family: "Roboto";
					font-size: 15px;
					color: #8e8c8c;
					margin-top: 20px;
					line-height: 20px;
					a {
						color: #00c8c8;
					}
				}
			}
		}
		.signatures {
			@include flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
	&.local-stores {
		padding-top: 62px;
		.cards {
			@include center;
			@include flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-bottom: 60px;
			.card {
				width: 370px;
				.town {
					font-family: "Montserrat";
					font-size: 18px;
					color: #575153;
					text-transform: uppercase;
					margin-bottom: 15px;
				}
				.address {
					font-family: "Montserrat";
					font-size: 13px;
					color: #727272;
					text-transform: uppercase;
					margin-top: 15px;
					margin-bottom: 10px;
				}
				.description {
					font-family: "Roboto";
					font-size: 15px;
					color: #8e8c8c;
					line-height: 20px;
					margin-top: 11px;
					margin-bottom: 15px;
				}
			}
		}
		.map {
			width: 100%;
			height: 530px;
			position: relative;
			iframe {
				width: 100%;
				height: 530px;
			}
			.card {
				position: absolute;
				top: 0;
				right: 0;
				max-width: 665px;
				width: 32.439%;
				height: 100%;
				background: #f8f8f8;
				padding-top: 43px;
				padding-left: 42px;
				.town {
					font-family: "Montserrat";
					font-size: 18px;
					color: #575153;
					text-transform: uppercase;
					margin-bottom: 15px;
				}
				.address {
					font-family: "Montserrat";
					font-size: 13px;
					color: #727272;
					text-transform: uppercase;
					margin-top: 15px;
					margin-bottom: 10px;
				}
				.description {
					font-family: "Roboto";
					font-size: 15px;
					color: #8e8c8c;
					line-height: 20px;
					margin-top: 11px;
					margin-bottom: 15px;
				}
				.location,
				.number,
				.site,
				.e-mail,
				.work-time {
					padding-left: 26px;
					font-family: "Montserrat";
					font-weight: lighter;
					font-size: 14px;
					color: #8e8c8c;
					margin-bottom: 15px;
				}
				.location {
					background:transparent url('../images/icons/location.png') 0 50% no-repeat;
				}
				.number {
					background:transparent url('../images/icons/phone.png') 0 50% no-repeat;
				}
				.site {
					background:transparent url('../images/icons/website.png') 0 50% no-repeat;
				}
				.e-mail {
					background:transparent url('../images/icons/e-mail.png') 0 50% no-repeat;
				}
				.work-time {
					background:transparent url('../images/icons/time.png') 0 50% no-repeat;
				}
				.social {
					margin-top: 45px;
					@include flex;
					flex-wrap: wrap;
					a {
						margin-right: 14px;
					}
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
	&.lookbook,
	&.home {
		.top-content {
			@include max-center;
			border-top: 1px solid #eeeeee;
			border-bottom: 1px solid #eeeeee;
			padding: 54px 0;
			.menu {
				margin-bottom: 32px;
				ul {
					@include flex;
					li {
						margin-right: 52px;
						&:last-child {
							margin-right: 0;
						}
						a {
							font-family: "Montserrat";
							font-size: 13px;
							color: #727272;
							text-transform: uppercase;
							&:hover {
								color: #00c8c8;
							}
						}
					}
				}
			}
			.cards {
				@include flex;
				flex-wrap: wrap;
				justify-content: space-between;
				.column {
					@include flex;
					flex-wrap: wrap;
					justify-content: space-between;
				}
				.flex {
					@include flex;
					justify-content: space-between;
				}
				.card {
					margin-top: 15px;
					margin-bottom: 15px;
					.image {
						position: relative;
						&:hover {
							-webkit-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.4);
							-moz-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.4);
							box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.4);
							cursor: pointer;
						}
						img {
							width: 100%;
							object-fit: cover;
							object-position: 50% 17%;
						}
						.image-content {
							position: absolute;
							top: 15px;
							left: 17px;
							.model {
								@include flex;
								font-family: "Montserrat";
								font-weight: lighter;
								font-size: 15px;
								color: #9a9a9a;
								text-transform: uppercase;
								span {
									font-size: 21px;
								}
								.old-price {
									text-decoration: line-through;
									padding-right: 5px;
								}
							}
							.name {
								padding-top: 48px;
								font-family: "Montserrat";
								font-weight: bold;
								font-size: 48px;
								color: #575153;
								text-transform: uppercase;
								margin-bottom: 20px;
								span {
									font-weight: lighter;
								}
							}
							.title {
								font-family: "Montserrat";
								font-size: 13px;
								color: #727272;
								text-transform: uppercase;
								margin-bottom: 5px;
							}
							.text {
								width: 100%;
								font-family: "Roboto";
								font-size: 15px;
								color: #8e8c8c;
								margin-bottom: 15px;
								margin-top: 15px;
							}
							.t-2 {
								width: 100%;
							}
							.right {
								text-align: right;
								margin-top: 100px;
								font-family: "Montserrat";
								color: #00c8c8;
								text-transform: uppercase; 
								padding-right: 15px;
								.large {
									font-weight: bold;
									font-size: 150px;
								}
								.medium {
									width: 410px;
									font-weight: bold;
									font-size: 52px;
								}
							}
						}
					}
				}
			}
		}
		.bottom-content {
			max-width: 2050px;
			margin: 0 auto;
			margin-top: 32px;
			.cards {
				@include flex;
				flex-wrap: wrap;
				justify-content: space-around;
				width: 100%;
				.card {
					position: relative;
					width: 30.4%;
					min-width: 540px;
					height: 530px;
					background: #f8f8f8;
					margin: 30px;
					img {
						height: 530px;
						object-fit: cover;
					}
					.content {
						position: absolute;
						top: 90px;
						right: 55px;
						width: 50%;
						text-align: right;
						.name {
							font-family: "Montserrat";
							font-weight: bold;
							font-size: 48px;
							color: #575153;
							text-transform: uppercase;
							span {
								font-weight: lighter;
							}
						}
						.description {
							margin-top: 30px;
							margin-bottom: 30px;
							font-family: "Roboto";
							font-size: 15px;
							color: #8e8c8c;
						}
					}
				}
			}
		}
	}
	&.sign-up {
		@include center;
		@include flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.title {
			font-family: "Montserrat";
			font-size: 18px;
			color: #575153;
			text-transform: uppercase;
			margin-bottom: 45px;
		}
		form {
			input {
				width: 529px;
				border: 1px solid #e7e7e7;
				padding: 14px 9px;
				margin-bottom: 30px;
				margin-top: 4px;
				font-family: "Montserrat";
				font-size: 15px;
				color: #989898;
				outline: none;
			}
			.error {
				input {
					border: 1px solid #bb5465;
					background: #fcf6f7;
				}
			}
		}
		.sign-in {
			border-right: 1px solid #eeeeee;
			padding-right: 35px;
			.main-button {
				@include flex;
				align-items: center;
				justify-content: space-between;
				a {
					font-family: "Roboto";
					font-size: 15px;
					color: #00c8c8;
					padding-right: 20px;
					background:transparent url('../images/icons/arrow.png') 100% 50% no-repeat;
				}
			}
		}
		.register {
			margin-left: 35px;					
			form {
				.checkbox {
					max-width: 50px;
					margin-bottom: -25px;
					padding: 0;
				}
				#checkbox{
				    display: none;
				}
				#checkbox + label{
					margin: 0;
				    display: block;
				    width: 30px;
				    height: 30px;
				    background: transparent;
				    border: 1px solid #e7e7e7;    
				    text-align: center;    
				}
				#checkbox:checked + label:before{
				    color: #00c8c8;
				    content: '✔';
				    font-size: 20px;
				}
				.text {
					font-family: "Roboto";
					font-size: 15px;
					color: #8e8c8c;
					margin-left: 40px;
				}
			}
			.main-button {
				@include flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 30px;
				.text {
					width: 220px;
					text-align: center;
				}
				a {
					font-family: "Roboto";
					font-size: 15px;
					color: #00c8c8;
					padding-right: 20px;
					background:transparent url('../images/icons/arrow.png') 100% 50% no-repeat;
				}
			}	
		}
	}	
	&.product {
		@include center;
		.product-card {
			@include flex;
			justify-content: space-between;
			.image {
				position: relative;
				.buttons {
					width: 570px;
					position: absolute;
					top: 50%;
				    transform: translateY(-50%);
					@include flex;
					justify-content: space-between;
					z-index: 500;
					.next {
						button {
							width: 45px;
							height: 55px;
							margin: 0;
							padding: 0;
							border: none;
							background:transparent url('../images/icons/prev_off.png') no-repeat 50% 50%;
							&:hover {
								background:#00c8c8 url('../images/icons/prev_on.png') no-repeat 50% 50%;
							}
						}
					}
					.prev {
						button {
							width: 45px;
							height: 55px;
							margin: 0;
							padding: 0;
							border: none;
							background:transparent url('../images/icons/next_off.png') no-repeat 50% 50%;
							&:hover {
								background:#00c8c8 url('../images/icons/next_on.png') no-repeat 50% 50%;
							}
						}
					}
				}
				.zoom {
					display:inline-block;
					position: relative;
					img {
						width: 570px;
						height: 710px;
						display: block;
						object-fit: cover;
						&::selection { 
							background-color: transparent; 
						}
					}
				}
			}
			.container {
				width: 570px;
				.product-name {
					font-family: "Montserrat";
					font-size: 18px;
					color: #575153;
					text-transform: uppercase;
					margin-bottom: 35px;
				}
				.reviews {
					@include flex;
					font-family: "Montserrat";
					font-size: 14px;
					color: #727272;
					a {
						color: #727272;
						&:hover {
							color: #00c8c8;
						}
					}
					.stars {
						margin-right: 15px;
					}
					.link {
						padding: 0 16px;
						margin: 0 16px;
						border-left: 1px solid #989898;
						border-right: 1px solid #989898;
					}
					.share {
						@include flex;
						align-items: center;
						a {
							margin: 0 10px;
						}
					}
				}
				
				.about {
					margin-top: 25px;
					font-family: "Roboto";
					font-size: 15px;
					color: #8c8c8c;
					line-height: 25px;
					a {
						color: #00c8c8;
					}
					span {
						font-family: "Montserrat";
						font-size: 13px;
						color: #575153;
						text-transform: uppercase;
					}
				}
				.text {
					margin-top: 30px;
					font-family: "Roboto";
					font-size: 15px;
					color: #8e8c8c;
					line-height: 25px;
					li {
						margin-top: 5px;
						list-style-type: circle;
					}
				}
				.form {
					margin-top: 35px;
					margin-bottom: 45px;
					form {
						@include flex;
						.block {
							margin-right: 30px;
							&:last-child {
								margin-right: 0;
							}
							.name {
								font-family: "Montserrat";
								font-size: 13px;
								color: #575153;
								text-transform: uppercase;
								margin-bottom: 15px;
							}
							select,
							input {
								font-family: "Montserrat";
								font-size: 13px;
								color: #989898;
								outline: none;
								padding: 9px 50px 9px 9px;
								border: 1px solid #e7e7e7;
							}
							input {
								padding-right: 0;
							}
						}
					}
				}
				.buttons {
					@include flex;
					flex-wrap: wrap;
					justify-content: space-between;
					.buy,
					.like {
						padding: 17px 33px 18px 59px;
						border: 2px solid #737373;
						&:hover {
							color: #ffffff;
						}
					}
					.buy {
						background:transparent url('../images/icons/buy.png') 10% 50% no-repeat;
						&:hover {
							border: 2px solid #333333;
							background:#333333 url('../images/icons/buy_hov.png') 10% 50% no-repeat;	
						}
					}
					.like {
						background:transparent url('../images/icons/like.png') 10% 50% no-repeat;
						&:hover {
							border: 2px solid #00c8c8;
							background:#00c8c8 url('../images/icons/like_hov.png') 10% 50% no-repeat;	
						}
					}
					.compare {
						margin-top: 15px;
						padding: 10px 0 10px 43px;
						background:transparent url('../images/icons/compare.png') 0% 50% no-repeat;
						&:hover {
							background:transparent url('../images/icons/compare_hov.png') 0% 50% no-repeat;	
						}
					}
					button {
						margin: 0;
						padding: 0;
						border: none;
						background:transparent;
						font-family: "Montserrat";
						font-size: 16px;
						color: #454647;
						text-transform: uppercase;
						letter-spacing: 3px;
					}
				}
			}
		}
		.produt-item {
			.menu {
				margin-top: 38px;
				ul {
					width: 100%;
					background: #f8f8f8;
					@include flex;
					li {
						padding: 15px 19px;
						&:hover {
							background: #333333;
							a {
								color: #fff;
							}
						}
						a {
							font-family: "Montserrat";
							font-size: 16px;
							color: #575153;
							text-transform: uppercase;
						}
					}
				}
			}
			section {
				padding-top: 26px;
				padding-left: 15px;
				padding-right: 15px;
				.title {
					font-family: "Montserrat";
					font-size: 13px;
					color: #727272;
					text-transform: uppercase;
				}
				.text {
					font-family: "Roboto";
					font-size: 15px;
					color: #8e8c8c;
					margin-top: 25px;
					margin-bottom: 10px;
				}
			}
		}
	}
}

.footer {
	nav {
		width: 100%;
		max-width: 1205px;
		margin: 0 auto;
		padding: 30px 0;
		text-align: center;
		ul {
			width: calc(100% / 5 - 20px);
			display: inline-block;
			text-align: left;
			vertical-align: top;
			margin: 20px 20px 20px 70px;
			&:last-child {
				margin-right: 0;
				li {
					margin-bottom: 20px;
					line-height: 18px;
				}
			}
			li {
				padding-top: 0;
				margin-right: 0;
				display: block;
				line-height: 25px;
				&:nth-child(1) {
					margin-bottom: 20px;
					text-transform: uppercase;
				}
				.listTitle {
					font-weight: bold;
					font-size: 12px;
					font-family: "Montserrat";
					color: #575153;
				}
				a {
					font-weight: 600;
					font-size: 12px;
					color: rgba(87, 81, 83, 0.5);
				}
			}
		}
	}
	&__box {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}

	.left {
		width: calc(100% / 2 - 10px);
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		margin-right: 10px;
	}
	&__baner {
		display: block;
		background: #333333;
		text-align: center;
		padding: 40px 0;
	}
	.right {
		width: calc(100% / 2 - 10px);
		display: inline-block;
		vertical-align: middle;
		text-align: right;
	}
	&__social {
		display: block;
		text-align: center;
		background: #00c8c8;
		padding: 57px 0;
		vertical-align: bottom;
		a {
			margin: 20px;
			color: #fff;
			font-size: 20px;
		}
	}
	&__title {
		font-family: "Montserrat";
		text-transform: uppercase;
		font-size: 26px;
		font-weight: bold;
		margin: 0;
		padding: 0;
		color: #fff;
		div {
			font-weight: 500;
		}
	}
	&__bottom {
		margin-top: 50px;
		padding: 15px;
		background: #333333;
		span {
			color: #999;
			margin-right: 20px;
			text-align: left;
		}
		.left {
			width: calc(100% / 2 - 10px);
			display: inline-block;
			text-align: left;
			margin-right: 10px;
		}
		.right {
			width: calc(100% / 2 - 10px);
			display: inline-block;
			text-align: right;
			span {
				&:last-child {
					margin-right: 0;
				}
				a:visited {
					color: #f8f8f8;
				}
			}
		}
	}
}



@media screen and (max-width: 1841px) {
	.header__title {
		font-size: 350px;
		span {
			margin-right: 390px;
		}
	}
}

@media screen and (max-width: 1560px) {
	.header {
		&__title {
			font-size: 270px;
			padding: 40px 0 150px;
			span {
				margin-right: 280px;
			}
		}
		&__mainNavbar {
			margin: 0 0 0 auto;
			nav {
				ul {
					li {
						margin-right: 40px;
					}
				}
			}
		}
		&__search {
			margin-left: 50px;
		}
		&__topBar {
			max-width: 1556px;
			padding: 0 15px;
			box-sizing: border-box; 
		}
	}
}

@media screen and (max-width: 1464px) {
	.header {
		nav {
			margin-top: -7px;
			vertical-align: middle;
			ul {
				li {
					margin-right: 20px;
				}
			}
		}
		&__search {
			display: block;
			margin: 15px 0 0 auto;
		}
		&__logo {
			vertical-align: middle;
		}
	}
	.header.main {
		nav {
			margin-top: -7px;
			vertical-align: top;
			ul {
				li {
					margin-right: 20px;
					&:nth-child(5) {
						margin-right: 0;
					}
				}
			}
		}
		&__search {
			display: block;
			margin: 15px 0 0 auto;
		}
		&__logo {
			vertical-align: top;
		}
	}
}

@media screen and (max-width: 1320px) {

}

@media screen and (max-width: 1250px) {
	.footer {
		nav {
			text-align: center;
			ul {
				width: calc(100% / 4 - 1px);
				text-align: left;
				margin-top: 50px;
			}
		}
	}
}

@media screen and (max-width: 1210px) {
	.header {
		&__title {
			font-size: 270px;
			span {
				margin-right: 160px;
			}
		}
	}
}

@media screen and (max-width: 1152px) {
	.bottom-content {
		.cards {
			display: block;
			.card {
				max-width: 790px;
				width: 100%;
				margin: 30px auto 0;
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.header {
		&__title {
			font-size: 190px;
			span {
				margin-right: 160px;
			}
		}
	}
}

@media screen and (max-width: 994px) {
	.header {
		&__title {
			font-size: 140px;
			margin-top: -40px;
			span {
				margin-right: 100px;
			}
		}
		.colectionBt {
			padding: 10px 15px;
		}
		&__navBlock {
			width: auto;
		}
		&__currency {
			width: calc(100% / 2 - 60px);
		}
	}
}

@media screen and (max-width: 869px) {
	.home {
		.top-content {
			.menu {
				ul {
					li {
						margin-right: 30px !important;
					}
				}
			}
		}
	}
	.footer {
		.left {
			display: block;
			margin: 0 auto 20px;
		}
		&__title {
			font-size: 20px;
			letter-spacing: 2px;
			div {
				letter-spacing: 1px;
				margin-top: 10px;
			}
		}
		.right {
			display: block;
			margin: 0 auto;
		}
		&__bottom {
			.left {
				display: inline-block;
				margin: 0;
				font-size: 10px;
			}
			.right {
				display: inline-block;
				margin: 0;
				font-size: 10px;
				a {
					font-size: 10px;
				}
			}
		}
	}
}

@media screen and (max-width: 679px) {
	
}

@media screen and (max-width: 425px) {
	.footer {
		.left {
			display: block;
			margin: 0 auto;
		}
		.right {
			display: block;
			margin: 0 auto;
		}
	}
}